* {
    font-family:'Inter', sans-serif;
    margin: 0px;
    padding: 5px;
    
}

#container {
    text-align: center;
    /* border: 1px solid black; */
    padding: 40px;
    /* width: 60%; */
    margin: 40px auto;
}

h1 {
    color: white;
    font-size: 64px;
    width: 400px;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    
}
button {
    font-weight: 800;
    display: block;
    width: 200px;
    margin: 10px auto;
}