* {
    font-family:'Inter', sans-serif;
    margin: 0px;
    padding: 0px;
    
}

body {
    padding: 16px;
}

#header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

th {
    font-size: 20px;
    width: 100px;
}


td {
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    width: 40px;
}


#container {
    text-align: center;
    padding: 40px;
    
}

#results {
    font-size: 30px;
    font-weight: bold;
    min-height: 36px;
    margin: 20px;
}

h1 {
    color: white;
    font-size: 64px;
    width: 400px;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    
}
button {
    font-weight: 800;
    font-size: 20px;
    background-color: darkgrey;
    display: block;
    width: 200px;
    height: 48px;
    border-style: none;
    border-radius: 10px;
    margin: 15px auto;
}

button:hover {
    box-shadow: 3px 3px 5px rgb(186, 186, 186);
}

#modal {
    display: none;
    background-color: rgba(0,0,0,0.8);
    border-radius: 10px;
    width: 50%;
    height: 25%;
    margin: auto; 
    padding: 5px 10px 20px 5px;
    z-index: 1;
    position: fixed;
    top: 40%;
    left: 25%;
    box-shadow: 5px 5px 10px rgb(112, 112, 112);
    animation-name: animateModal;
    animation-duration: 0.4s;
}

@keyframes animateModal {
    from {top: -10%; left: -10%; opacity: 0}
    to {top: 40%; left: 25%; opacity: 1}
    
}

#modal p {
    font-size: 64px;
    margin-top: 40px;
    font-weight: bold;
    text-align: center;
    color: transparent;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: white;

}

#modalClose {
    position: relative;
    display: inline-block;
    height: .75em;
    padding: 0em .1em .5em .3em;
    width: .75em;
    color: white;
    top: 0px;
    left: 96%;
    font-size: 20px;
    font-weight: medium;
    border-radius: 5px;
}

#modalClose:hover {
    background-color: rgb(140, 140, 140);
    cursor: pointer;
    color: black;
}